<ion-view hide-nav-bar="true" >
<ion-content has-header="true" padding="true" id="login" style="    background-image: url(img/space.jpg);
    background-position: 0px 0px;
    background-repeat: repeat-x;
    background-size: initial;
    animation: animatedBackground 40s linear infinite;">
    
    <div class="logo"><img id="logo" ng-src="img/logo.png" /></div>
    <div class="LoginWrapper" ng-show="showLoginForm">
        <div class="logo"><img id="logo" ng-src="img/logo.png" /></div>
        <form name="form.loginform" ng-submit="submitLogin(user)" novalidate>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Username / Email" ng-model="user.username" name="username" ng-minlength="2" required>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="user.password" name="password" ng-minlength="2" required>
                </label>

            </div>
            <button type="submit" class="button button-block button-assertive">
                Login
            </button>
        </form>
        <p class="register">Wanna Signup? <a href="#/register">Register Here</a></p>
    </div>

</ion-content>
    <div class="bar bar-footer login">
        <div class="button-bar">
            <button class="button button-clear" ng-click="showLoginForm = true">Login</button>
            <button class="button button-clear" style="background-color: #ef473a;" ng-click="showLoginForm = false">Sign Up</button>
        </div>
    </div>
</ion-view>