<ion-view title="Search">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-gear-a" ui-sref="settings"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" has-bouncing="false">
        <form name="searchForm">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" min="2" name="search" auto-search ng-model="Searchquery" placeholder="Search users"/>
                </label>
            </div>
        </form>
        <div id="result">
            <div id="search" class="search">
                <div class="zeroResults search" ng-show="searchresults.array.length === 0 && !initial.first">
                    <h2>no results</h2>
                </div>
                <ion-list ng-show="searchresults.array.length > 0">
                    <ion-item class="item-avatar item-icon-right" ng-repeat="search in searchresults.array" type="item-text-wrap" href="#/main/search/{{search.GUID}}">
                        <img ng-src="{{search.photo && imageURL + search.GUID + '.png' || 'img/default_avatar.png' }}">
                        <h2>{{search.username}}</h2>
                        <p>{{search.firstname}}&nbsp;{{search.lastname}}</p>
                    </ion-item>
                </ion-list>
                <ion-infinite-scroll ng-if="!noMoSearch" on-infinite="loadMoreSearch(Searchquery)" distance="30%"></ion-infinite-scroll>
            </div>
        </div>


    </ion-content>

</ion-view>