<ion-view title="Contacts">
    <ion-nav-buttons side="left">
        <button class="button button-clear ion-chevron-left" ng-click="back()"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">
        <form name="searchForm">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" min="2" name="search" ng-model="ContactsSearch" placeholder="Search contacts" />
                </label>
            </div>
        </form>
        <div id="result">
            <div id="contacts" class="contacts">
                <div class="zeroResults contacts" ng-show="contacts.length === 0 && contactsFinished">
                    <h2>Daaamn you got no homies</h2>
                </div>
                <ion-checkbox ng-model="contact.checked" ng-repeat="contact in contacts | filter:ContactsSearch" ng-checked="contact.indexOf(contact) > -1" ng-click="checkboxSelection(contact)">
                     <h2>{{contact.displayName}}</h2>
                     <p>{{contact.phonenumber}}</p>
                </ion-checkbox>
                        
            </div>
        </div>
    </ion-content>

</ion-view>