<ion-view title="{{title}}">
    
    <ion-tabs class="tabs-striped tabs-color-assertive tabs-icon-only">
        <ion-tab icon="ion-radio-waves"
                 href="#/main/dash"
                 on-select="onTabSelected()"
                 on-deselect="onTabDeselected()">
            <ion-nav-view name="main-dash"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-person-stalker"
                 href="#/main/traffic"
                 on-select="onTabSelected()"
                 on-deselect="onTabDeselected()">
            <ion-nav-view name="main-traffic"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-flash"
                 href="#/main/activity"
                 on-select="onTabSelected()"
                 on-deselect="onTabDeselected()">
            <ion-nav-view name="main-activity"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-plus-circled"
                 on-select="onTabSelected()"
                 href="#/main/contacts"
                 on-deselect="onTabDeselected()">
            <ion-nav-view name="main-contacts"></ion-nav-view>
        </ion-tab>
    </ion-tabs>

</ion-view>
