
<ion-tabs class="tabs-striped tabs-color-assertive tabs-icon-only">

    <ion-tab icon="ion-radio-waves"
             href="#/tab/dash"
             on-select="onTabSelected()"
             on-deselect="onTabDeselected()">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <ion-tab icon="ion-person-stalker"
             href="#/tab/traffic"
             on-select="onTabSelected()"
             on-deselect="onTabDeselected()">
        <ion-nav-view name="tab-traffic"></ion-nav-view>
    </ion-tab>

    <ion-tab icon="ion-flash"
             href="#/tab/activity"
             on-select="onTabSelected()"
             on-deselect="onTabDeselected()">
        <ion-nav-view name="tab-activity"></ion-nav-view>
    </ion-tab>

    <ion-tab icon="ion-plus-circled"
             href="#/tab/contacts"
             on-select="onTabSelected()"
             on-deselect="onTabDeselected()">
        <ion-nav-view name="tab-contacts"></ion-nav-view>
    </ion-tab>

</ion-tabs>