 <ion-view title="Contacts">

     <ion-nav-buttons side="left">
         <button class="button button-clear ion-chevron-left" ng-click="back()"></button>
     </ion-nav-buttons>

    <ion-content has-header="true" padding="true">
        <h1>User Details</h1>


    </ion-content>

</ion-view>



<!--<div class="row">
    <div class="userInfo row">
        <div class="col-xs-6 name text-center">
            <h3>{{username}}</h3>
            <span id="firstname">{{firstname}}</span>&nbsp;<span id="lastname">{{lastname}}</span>
        </div>

        <div class="isChasing col-xs-6 text-center">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" id="btnFollowerNo" ng-click="userfollowers()" class="btn btn-default">
                    <span id="follower_badge" class="badge">{{noChasers}}</span><br>Followers
                </button>
                <button type="button" id="btnFollingNo" ng-click="userfollowing()" class="btn btn-default">
                    <span id='following_badge' class='badge'>{{noChasing}}</span><br />Following
                </button>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block" user-choice>
                <span class='glyphicon glyphicon-star' aria-hidden='true' ng-show="notChasing"></span>
                <span class='glyphicon glyphicon-star' style='color:#f8ea0a' aria-hidden='true' ng-show="yesChasing"></span>
                <span class='glyphicon glyphicon-send' aria-hidden='true' ng-show="requested"></span>
                {{isFollowing}}
            </button>
        </div>
    </div>

   
    <div class="button-broadcast row">
        <button id="btnBroadcast" type="button" data-enhance="false" class="btn btn-primary btn-lg btn-block"></button>
    </div>
   
</div>
 -->
