<ion-view>

<ion-content has-header="true" padding="true">
    <div class="row userInfo">
        <div class="col col-33">
            <img ng-src="img/default_avatar.png" /><br />
            <h2>{{username}}</h2>
        </div>
        <div class="col">
            <div class="button-bar">
                <a class="button" href="#/main/{{segment}}/chasers/{{GUID}}"><span>{{noChasers}}</span>Chasers</a>
                <a class="button" href="#/main/{{segment}}/chasing/{{GUID}}"><span>{{noChasing}}</span>Chasing</a>
            </div>
            <button user-choice ng-model="symbol" class="button button-block icon" ng-class="{'ion-star':symbol == 0 || symbol == 1 ,'ion-paper-airplane':symbol == 2 }">
                {{isFollowing}}
            </button>
        </div>
    </div>
    <div id="broadcast" class="row">
        <button ng-model="broadcasting" user-broadcast data-private="{{private}}" class="button button-block icon icon-left"  ng-class="{'broadcasting': broadcasting && !private || isChasing == 1 ,'private': private && isChasing != 1 }">
        </button>
    </div>
</ion-content>
</ion-view>