<ion-view title="Dashboard">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-search" ui-sref="main.settings"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">
        <h1>Dashboard</h1>
        <a class="button button-halfwidth" nav-clear ui-sref="main.settings">Blank Search Section</a>
        <a class="button button-halfwidth pull-right" nav-clear ui-sref="main.search">Main Search Section</a>
    </ion-content>

</ion-view>