<form name="form.passwordForm" ng-submit="passwordUpdate(password)" novalidate>
    
    <input type="password" name="oldpassword"  placeholder="Old Password" ng-model="data.oldpassword">
    <div class="error-messages" ng-messages="form.passwordForm.$error" ng-if="form.passwordForm.oldpassword.$touched">
        <!-- <p ng-message="pwmatch" ng-show="form.passwordForm.oldpassword.$error.pwmatch && form.passwordForm.oldpassword.$touched">Wrong Password</p> -->
    </div>
    <input type="password" name="newpassword" placeholder="New Password" ng-model="data.newpassword">
    <div class="error-messages" ng-messages="form.passwordForm.newpassword.$error" ng-if="form.passwordForm.newpassword.$touched">
         <p ng-message="minlength" ng-show="form.passwordForm.newpassword.$dirty">Gotta be at least 6 characters</p>
        <!-- <p ng-message="passwordvalid" ng-show="form.newpassword.password.$error.passwordvalid">Gotta use at least one number and alphabet</p> -->
    </div>
    <input type="password" placeholder="Confirm New Password" ng-model="data.confirmpassword">
    <div class="error-messages" ng-messages="form.passwordForm.$error" ng-if="form.passwordForm.passwordConfirm.$touched">
        <!-- <p ng-message="pwmatch" ng-show="form.passwordForm.passwordConfirm.$error.pwmatch && form.passwordForm.passwordConfirm.$touched">Gotta match</p> -->
    </div>
  </form>