<ion-view title="Settings">

    <ion-nav-buttons side="left">
        <button class="button button-clear ion-chevron-left" ng-click="back()">
        </button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true">
    
<form name="settingsForm" ng-submit="settingsSubmit(user)" novalidate>
  <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="First Name" ng-model="user.firstname" ng-minlength="2" required>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Last Name" ng-model="user.lastname" placeholder="Last Name" ng-minlength="2" required>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="email" placeholder="Email" email-validate ng-model="user.email" placeholder="Email" required>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Username</span>
    <input type="text" username-validate ng-model="user.username" min="2" ng-minlength="2" placeholder="Username" required>
  </label> 
  <div class="password"><button type="button" class="button button-outline button-energized" ng-click="updatePassword()">Change Password</button></div>
</div>
  
<button class="button button-full button-assertive" ng-disabled="registerform.$invalid">
  Save Changes
</button>
</ion-content>

</ion-view>
<!-- 
<div class="row">
    <alert type="{{alert.type}}" close="closeAlert()" ng-show="alertNeeded">{{alert.msg}}</alert>
    <form name="settingsForm" ng-submit="settingsSubmit(user)" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : settingsForm.firstname.$invalid && !settingsForm.firstname.$pristine }">
            <input type="text" class="form-control" ng-model="user.firstname" name="firstname" placeholder="First Name" ng-minlength="2" required>
        </div>

        <div class="form-group has-feedback" ng-class="{ 'has-error' : settingsForm.lastname.$invalid && !settingsForm.lastname.$pristine }">
            <input type="text" class="form-control" ng-model="user.lastname" name="lastname" placeholder="Last Name" ng-minlength="2" required>
        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-error' : settingsForm.email.$invalid && !settingsForm.email.$pristine || settingsForm.email.$error.emailvalid }">
            <input type="email" class="form-control" emailupdate-validate ng-model="user.email" name="email" placeholder="Email" required>
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="settingsForm.email.$error.emailvalid && !settingsForm.email.$pristine" aria-hidden="true"></span>
        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-error' : settingsForm.username.$invalid && !settingsForm.username.$pristine || settingsForm.username.$error.usernameupdatevalid ,
             'has-success' : !settingsForm.username.$invalid && !settingsForm.username.$pristine && !settingsForm.username.$error.usernameupdatevalid}">
            <input type="text" class="form-control" usernameupdate-validate ng-model="user.username" name="username" min="2" ng-minlength="2" placeholder="Username" required>
            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!settingsForm.username.$error.usernamevalid && !settingsForm.username.$pristine && settingsForm.username.$valid" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="settingsForm.username.$error.usernameupdatevalid && !settingsForm.username.$pristine" aria-hidden="true"></span>
        </div>
        <div class="form-group has-feedback">
            <button type="button" class="btn btn-default btn-lg" ng-click="updatePassword()">Change Password</button>
        </div>

        <hr />
        <button type="submit" style="width:50%;display:inline-block" class="btn btn-primary btn-lg btn-block">Save Changes</button>
    </form>
</div>


<script type="text/ng-template" id="myModalContent.html">
    <div style="text-align:center;" class="modal-header">
        <h3 class="modal-title">Change Password</h3>
    </div>
    <div class="modal-body">
        <form name="passwordForm" novalidate>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : passwordForm.password.$invalid && !passwordForm.password.$pristine }">
                <input type="password" class="form-control" ng-model="user.password" name="password" placeholder="Password" maxlength="12" required>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : passwordForm.passwordConfirm.$invalid && !passwordForm.passwordConfirm.$pristine}">
                <input type="password" class="form-control" ng-model="user.passwordConfirm" pwudpate-check="user.password" name="passwordConfirm" placeholder="Confirm Password" maxlength="12" required>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="passwordForm.passwordConfirm.$error.pwmatch && !passwordForm.passwordConfirm.$pristine" aria-hidden="true"></span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="updatePassword()">Update Password</button>
    </div>
</script>
-->