/**** All results styling ***/
.zeroResults {text-align: center;margin-top: 50px;}
.zeroResults h2 {color:grey;}
#result .ion-ios-arrow-thin-left { font-size: 40px; }
/*******  prompt styling  ******/
.button.button-positive { background-color:#FFF2EE; color:#444; border-color: #b2b2b2; }
.button.button-positive:hover {color: #000;}
.button.button-positive.active, .button.button-positive.activated { border-color: #b2b2b2; background-color: #E1D6D2; }
/***** global button styling *******/
button.button-outline.button-full {border-right-width: thin; border-left-width: thin;}
.button-bar .button {background-color: #FFF2EE;}
.button-bar .button.active {background-color: #E1D6D2;}
.button-bar .button.actived {background-color: #E1D6D2;}
.button .icon {top:1px}
/* ngMessage styling */
label.item-input { height: 60px;}
.item-input input {padding-right: 0;max-width: 95%;}
.item-input i.icon {font-size:30px;margin-right:5px;}
.item-input i.icon.error {color:#BE81F7;}
.item-input i.icon.success {color:#4cd964;}
.error-messages.ng-active {
  background-color: #BE81F7;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  margin: 15px 0 5px;
  position: relative;
  width:100%;
}
.error-messages.ng-active:after {
  position: absolute;
  top: -18px;
  content: "";
  left: 15px;
  border-style: solid;
  border-color: transparent transparent #BE81F7;
  border-width: 9px;
}
.error-messages p {
    color:#fff;
    margin-bottom: 0;
}
/*  Login Page  */
.LoginWrapper{margin-top:33%}
.LoginWrapper .logo {text-align: center;}
.LoginWrapper p.register {text-align: center;font-size: 15px;}
/*  Register Page */
.registerForm label.has-error {border-left: 5px solid rgb(204, 37, 17);}

/* User Page */
.userInfo img { width: 100%; height: 100%; border-radius: 50%; max-width: 200px; max-height: 200px;background-color: purple;}
.userInfo .button-bar .button span {display: block; height: 20px;}
.userInfo .col-33 {text-align:center;}
.userInfo .button-bar .button {border: 0;}
.userInfo .button-bar .button:first-child {border-right: 1px solid #D8D8D8;}
.userInfo button[data-chasing="false"] { background-color:#3786d0;  color:#fff; }
.userInfo button[data-chasing="false"].activated,button[data-chasing="false"]:focus {background-color:#0a569c;}
.userInfo button[data-chasing="true"] { background-color:#5fab87; color:#fff; }
.userInfo button[data-chasing="true"]:focus,button[data-chasing="true"].activated { background-color:#42725C;  color:#fff; }
.userInfo button[data-chasing="requested"] {background-color:#a333a6;  color:#fff;} 
.userInfo button[data-chasing="requested"].activated,button[data-chasing="requested"]:focus {background-color:#6c226e;}
#broadcast .broadcasting {background-color: #F7BE81;}

/* Settings Page  */
form .password {margin: 30px 0 15px;text-align: center;}
form .private .item {border-left:0;border-right:0;border-bottom:0;font-weight:bold}
.passwordPopup .popup {min-width: 33%;width: 350px;}

/*Map modal*/
.map-modal {width: 100%; height: 100%; top:0; left:0;}
.map-modal .scroll {height:100%}
.angular-google-map { height: 100%; }
.angular-google-map-container{height: 100%;}